<a href="https://colab.research.google.com/github/SAIRAALMAS88/SAIRAALMAS88/blob/main/AI_first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#                           **    Python Basics First Assignment**

## **Task 1**: **Variables and Data** **Types**
a) Create three variables: one for storing your age (integer), one for your name (string), and one to
check if you are a student (Boolean). Print the variables.
b) Perform the following operations and print the results:
- Add 25 to your age variable.
- Concatenate your name with the string &quot;Smith.&quot;
- Negate the Boolean variable (if True, make it False, and vice versa).

In [40]:
# Define variables
age = 32  # Replace with your actual age
name = "Ahmad"  # Replace with your actual name
is_student = True  # Replace with your actual student status

# Print the variables
print("Age:", age)
print("Name:", name)
print("Is Student:", is_student)

# Perform operations and print results
age += 25
print("Age after adding 25:", age)

name += " Zara"
print("Name after concatenation:", name)

is_student = not is_student
print("Negated student status:", is_student)

Age: 32
Name: Ahmad
Is Student: True
Age after adding 25: 57
Name after concatenation: Ahmad Zara
Negated student status: False

# **Task 2: Expressions and Operators**
a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in variables.
Create a new variable called area and write an expression to calculate the area. Print the area in the
output.

In [41]:
# Define variables for width and height
width = 5.5
height = 3.25

# Calculate the area
area = width * height

# Print the area
print("Area of the rectangle:", area)

Area of the rectangle: 17.875

b) Take temperature input from user in Celsius. Convert it to Fahrenheit using the formula:
F = (C * 9/5) + 32
Store this temperature in a variable called Fahrenheit and print this variable.

In [42]:
# Take temperature input from the user in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Print the converted temperature
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 32
Temperature in Fahrenheit: 89.6

c)Take radius of the circle as input from user. Calculate the area of a circle with this radius and store
it in a variable called area. Print area at the end of your code.
(Use the formula: area = π * radius^2, where π (pi) is approximately 3.14159).

In [5]:
# Take radius input from the user
radius = float(input("Enter the radius of the circle: "))

# Calculate the area of the circle
area = 3.14159 * radius**2

# Print the calculated area
print("Area of the circle:", area)

Enter the radius of the circle: 56
Area of the circle: 9852.02624

# **Task 3: List Manipulation**
a) Create a list called &quot;fruits&quot; containing the following fruits: &quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;, &quot;date&quot;,
&quot;strawberry&quot;, &quot;fig&quot;, and &quot;grape&quot;. Print the list.

In [6]:
# Create a list of fruits
fruits = ["apple", "banana", "cherry", "date", "strawberry", "fig", "grape"]

# Print the list
print(fruits)

['apple', 'banana', 'cherry', 'date', 'strawberry', 'fig', 'grape']

1. Remove the first and last elements from the &quot;fruits&quot; list. Print the updated list.

In [7]:
# Remove the first and last elements
fruits = fruits[1:-1]

# Print the updated list
print(fruits)

['banana', 'cherry', 'date', 'strawberry', 'fig']

2. Replace the second to fourth items with [&quot;kiwi&quot;, &quot;lemon&quot;, &quot;mango&quot;] using list slicing.

In [8]:
# Replace the second to fourth items
fruits[1:4] = ["kiwi", "lemon", "mango"]

# Print the updated list
print(fruits)

['banana', 'kiwi', 'lemon', 'mango', 'fig']

3. Use the len() function to find how many fruits are in the list.

In [9]:
# Find the number of fruits in the list
num_fruits = len(fruits)

# Print the number of fruits
print("Number of fruits:", num_fruits)

Number of fruits: 5

# **Task 4: Dictionary Operations**
a) Create a dictionary named &quot;capitals&quot; with three key-value pairs: &quot;USA&quot; - &quot;Washington D.C.,&quot;
&quot;France&quot; - &quot;Paris,&quot; and &quot;Japan&quot; - &quot;Tokyo.&quot; Print the dictionary.

In [10]:
# Create a dictionary of capitals
capitals = {"USA": "Washington D.C.", "France": "Paris", "Japan": "Tokyo"}

# Print the dictionary
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}

b) Add a new country and its capital to the &quot;capitals&quot; dictionary. The country is &quot;Germany,&quot; and the
capital is &quot;Berlin.&quot; Print the updated dictionary.

In [11]:
# Add a new country and its capital
capitals["Germany"] = "Berlin"

# Print the updated dictionary
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

c) Check if &quot;France&quot; exists in the &quot;capitals&quot; dictionary. If it does, print &quot;France is in the dictionary,&quot;
otherwise, print &quot;France is not in the dictionary.&quot;

In [12]:
# Check if "France" is in the dictionary
if "France" in capitals:
    print("France is in the dictionary")
else:
    print("France is not in the dictionary")

France is in the dictionary

# **Task 5: Comparison Operators, Logical Operators and If/Else:**
a) Create a variable called number that takes user input. Write a block of code that checks if the
number is positive or negative. If the number is positive only then further check if it is even or odd.
Your output should print “The number is even”, or the “The number is odd”.

In [14]:
number = int(input("Enter a number: "))

if number > 0:
    if number % 2 == 0:
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is negative")

Enter a number: 45
The number is odd

b) Create two variables called age and GPA. Give them values of your choice. Next, write a block of
code to check if a student with this age and GPA is eligible for admission. The following are the
conditions:

- The student must be at least 18 years old.

In [15]:
age = 20  # Replace with your desired age
GPA = 3.5  # Replace with your desired GPA

if age >= 18:
    print("The student is eligible for admission based on age.")
else:
    print("The student is not eligible for admission due to age.")

The student is eligible for admission based on age.

- The student&#39;s GPA must be 3.0 or higher on a scale of 4.0.

  Your output should print “Eligible for admission” or “Not eligible for admission”.

In [17]:
age = 20  # Replace with your desired age
GPA = 3.5  # Replace with your desired GPA

if age >= 18 and GPA >= 3.0:
    print("Eligible for admission")
else:
    print("Not eligible for admission")

Eligible for admission

# **Task 6: Strings Manipulation**
a) Create a string variable containing the following sentence:
&quot;Python programming is fun and powerful!&quot;

In [19]:
sentence = "Python programming is fun and powerful!"

Write Python code to do the following and print the results:
1. Find the length of the string.

In [20]:
sentence = "Python programming is fun and powerful!"

# Find the length of the string
length = len(sentence)

print("Length of the string:", length)

Length of the string: 39

2. Convert the string to uppercase.

In [21]:
sentence = "Python programming is fun and powerful!"

# Convert the string to uppercase
uppercase_sentence = sentence.upper()

print("Uppercase sentence:", uppercase_sentence)

Uppercase sentence: PYTHON PROGRAMMING IS FUN AND POWERFUL!

3. Replace &quot;fun&quot; with &quot;exciting.&quot;

In [22]:
sentence = "Python programming is fun and powerful!"

# Replace "fun" with "exciting"
new_sentence = sentence.replace("fun", "exciting")

print("New sentence:", new_sentence)

New sentence: Python programming is exciting and powerful!

4. Check if the string contains the word &quot;Python.&quot;

In [23]:
sentence = "Python programming is fun and powerful!"

# Check if the string contains "Python"
if "Python" in sentence:
    print("The string contains 'Python'")
else:
    print("The string does not contain 'Python'")

The string contains 'Python'

5. Remove the word programming from the sentence and print the rest of the sentence.

In [24]:
sentence = "Python programming is fun and powerful!"

# Remove "programming" and print the rest of the sentence
new_sentence = sentence.replace("programming", "")
print(new_sentence)

Python  is fun and powerful!

6. Extract the last word &quot;powerful!&quot;

In [25]:
sentence = "Python programming is fun and powerful!"

# Extract the last word
last_word = sentence.split()[-1]

print("Last word:", last_word)

Last word: powerful!

b) Given the string email = &quot;user123@xmail.com&quot;, perform the following:
 Extract the username part (everything before the &quot;@&quot; symbol).

In [28]:
email = "user123@xmail.com"

# Split the email using "@" as delimiter and get the first part (username)
username = email.split("@")[0]

print("Username:", username)

Username: user123

   Extract the domain part (everything after the &quot;@&quot; symbol).

In [29]:
email = "user@xmail.com"

# Split the email using "@" as delimiter and get the second part (domain)
domain = email.split("@")[1]

print("Domain:", domain)

Domain: xmail.com

   Check if the email contains the substring &quot;example&quot;.

In [30]:
email = "user@xmail.com"

# Check if the email contains "xmail"
if "xmail" in email:
    print("The email contains 'xmail'")
else:
    print("The email does not contain 'xmail'")

The email contains 'xmail'

# **Task 7: For Loops and While Loops**
a) Given a list of temperatures for a week, write a program that tells you how many days were above
25°C.
temp_list = [26, 28, 32, 36, 30, 25, 24, 22, 20, 18]
for temp &gt; 25, print “Today&#39;s temp: temp, its hot!”
for temp &lt;= 25, print “Today&#39;s temp: temp, it is chilly today!”

In [31]:
temp_list = [26, 28, 32, 36, 30, 25, 24, 22, 20, 18]
hot_days = 0

for temp in temp_list:
    if temp > 25:
        print("Today's temp:", temp, ", it's hot!")
        hot_days += 1
    else:
        print("Today's temp:", temp, ", it is chilly today!")

print("Number of hot days:", hot_days)

Today's temp: 26 , it's hot!
Today's temp: 28 , it's hot!
Today's temp: 32 , it's hot!
Today's temp: 36 , it's hot!
Today's temp: 30 , it's hot!
Today's temp: 25 , it is chilly today!
Today's temp: 24 , it is chilly today!
Today's temp: 22 , it is chilly today!
Today's temp: 20 , it is chilly today!
Today's temp: 18 , it is chilly today!
Number of hot days: 5

b) Use a for loop and the range() function to display following sequences:
1. Add to list: [-20, -17, -14, -11, -8, -5, -2, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
2. Add to list: [110, 112, 114, 116, 118, 120, 122, 124, 126, 128]
3. Print: Multiples of 7 starting from 5 and less than 100.
4. Print: The first 20 Fibonacci numbers.

In [32]:
# 1. Add to list: [-20, -17, -14, -11, -8, -5, -2, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
my_list = []
for i in range(-20, 30, 3):
    my_list.append(i)
print(my_list)

# 2. Add to list: [110, 112, 114, 116, 118, 120, 122, 124, 126, 128]
my_list = []
for i in range(110, 130, 2):
    my_list.append(i)
print(my_list)

# 3. Print: Multiples of 7 starting from 5 and less than 100
for i in range(5, 100, 7):
    print(i)

# 4. Print: The first 20 Fibonacci numbers
fib1, fib2 = 0, 1
for i in range(20):
    print(fib1)
    fib1, fib2 = fib2, fib1 + fib2

[-20, -17, -14, -11, -8, -5, -2, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
[110, 112, 114, 116, 118, 120, 122, 124, 126, 128]
5
12
19
26
33
40
47
54
61
68
75
82
89
96
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

c) Use nested loops to display the following pattern.
*
**
***
****
*****
******

In [33]:
for i in range(1, 7):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
******

d) Write a nested loop through the given list to find pair of numbers that sum to a given value.
numbers = [6, 8, 2, 4, 6, 10]
target_sum = 12
Save and print the pairs in tuples.

In [34]:
numbers = [6, 8, 2, 4, 6, 10]
target_sum = 12

pairs = []

for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] + numbers[j] == target_sum:
            pairs.append((numbers[i], numbers[j]))

print(pairs)

[(6, 6), (8, 4), (2, 10)]

e) A student obtains the following grades in his courses. Make a list of his scores and write a loop to
sum up his total score. Also, calculate his percentage.

Courses     Scores out of 100
Mathematics              78
Programming              82
Biology                  65
Physics                  80
Chemistry                50

In [35]:
scores = [78, 82, 65, 80, 50]
total_score = 0

for score in scores:
    total_score += score

percentage = (total_score / (len(scores) * 100)) * 100

print("Total Score:", total_score)
print("Percentage:", percentage)

Total Score: 355
Percentage: 71.0

Next, use python dictionary to assign grades to the student according to the following table:

Percentage   Grade
90-100         A
80-89           B+
60-79          B
40-59          C
39 and below   F

In [36]:
scores = [78, 82, 65, 80, 50]
total_score = 0

for score in scores:
    total_score += score

percentage = (total_score / (len(scores) * 100)) * 100

grade_scale = {
    (90, 100): "A",
    (80, 89): "B+",
    (60, 79): "B",
    (40, 59): "C",
    (0, 39): "F"
}

for grade_range, grade in grade_scale.items():
    if grade_range[0] <= percentage <= grade_range[1]:
        print("Grade:", grade)
        break

Grade: B

# **Task 8: Functions:**
a) Write a function called calculate_area that takes the length and width of a rectangle and returns
its area.

In [37]:
def calculate_area(length, width):
    """Calculates the area of a rectangle.

    Args:
        length: The length of the rectangle.
        width: The width of the rectangle.

    Returns:
        The area of the rectangle.
    """

    area = length * width
    return area

# Example usage:
length = 5
width = 3
result = calculate_area(length, width)
print("Area of the rectangle:", result)

Area of the rectangle: 15

b) Write a Python function to find the max of three numbers entered by the user.

In [38]:
def find_max(num1, num2, num3):
    """Finds the maximum of three numbers.

    Args:
        num1: The first number.
        num2: The second number.
        num3: The third number.

    Returns:
        The maximum of the three numbers.
    """

    max_num = max(num1, num2, num3)
    return max_num

# Get input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Find the maximum number
result = find_max(num1, num2, num3)

print("The maximum number is:", result)

Enter the first number: 92
Enter the second number: 87
Enter the third number: 95
The maximum number is: 95.0

c) Create a basic calculator program that can perform addition, subtraction, multiplication, and
division operations. Ask the user to input 2 numbers and the operation they want to perform. Print
result accordingly.

In [39]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error: Division by zero"
    return x / y

def main():
    print("Select operation:")
    print("1.Add")
    print("2.Subtract")
    print("3.Multiply")
    print("4.Divide")

    choice = input("Enter choice(1/2/3/4): ")

    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if choice == '1':
        print(num1, "+", num2, "=", add(num1, num2))

    elif choice == '2':
        print(num1, "-", num2, "=", subtract(num1, num2))

    elif choice == '3':
        print(num1, "*", num2, "=", multiply(num1, num2))

    elif choice == '4':
        print(num1, "/", num2, "=", divide(num1, num2))

    else:
        print("Invalid Input")

if __name__ == "__main__":
    main()3

Select operation:
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 56
Enter first number: 33
Enter second number: 11
Invalid Input